body{
    background-image: url(imagenes/Hojas1.png), url(imagenes/Hojas2.png);
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-color: #C2D6C5;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
h1{
    grid-column: 3;
    grid-row: 1;
    font-family: "Inter", sans-serif;
    font-size: 5em;
    color: #9F684B;
    text-align: center;
}
.parrafoIntro{
    overflow: hidden;
    grid-row: 2;
    grid-column: 2 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin-top: -2em;
    height: 40%;
    border-radius: 30px;
    box-shadow: #606d6b 0px 0px 30px;
    background-color: #EEDBBE;
    color: #3E4544;
    font-family: "Inter"- sans-serif;
    font-size: 2em;
    text-align: center;
}
.cards{
    transition: opacity 3s ease-in-out;
    grid-column: 1 / 6;
    grid-row: 3 / 4;
    margin-top: -10em;
    margin-bottom: -40em;
    justify-self: center;
    width: 70em;
    padding: 4em;
    color: white;
    view-timeline-name: --cards;
    view-timeline-axis: block;
    animation-timeline: --cards;
    animation-name: scroll;
    animation-range: entry 10%, cover 50%;
}
@keyframes scroll {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.card1{
    margin-bottom: 5em;
    display: flex;
    border-top-left-radius: 150px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 40px;
    background-color: #9F684B;
    font-family: "Keania One", sans-serif;
}
.tituloCardI{
    position: absolute;
    margin-left: 8em;
    width: 12em;
    font-size: 3em;
}
.textoCardI{
    align-self: center;
    padding-top: 2em;
    padding-right: 1.5em;
    font-size: 1.5em;
}
.card2{
    margin-bottom: 5em;
    display: flex;
    border-top-left-radius: 40px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 150px;
    background-color: #9F684B;
    font-family: "Keania One", sans-serif;
}
.tituloCardII{
    position: absolute;
    margin-left: 8em;
    width: 12em;
    font-size: 3em;
}
.textoCardII{
    align-self: center;
    padding-top: 2em;
    padding-left: 2em;
    font-size: 1.5em;
}
.card3{
    display: flex;
    margin-bottom: 50em;
    border-top-left-radius: 150px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 40px;
    background-color: #9F684B;
    font-family: "Keania One", sans-serif;
}
.tituloCardIII{
    position: absolute;
    margin-left: 8em;
    width: 12em;
    font-size: 3em;
}
.textoCardIII{
    align-self: center;
    padding-top: 2em;
    padding-right: 1.5em;
    font-size: 1.5em;
}
.cards img{
    padding: 1.5em;
    width: 15em;
}
footer{
    bottom: 14em;
    position: relative;
    grid-row: 5;
    grid-column: 1 / 6;
}
.botones{
    height: 20em;
    padding-top: 20em;
    display: flex;
    grid-row: 5;
}
.registrarse{
    display: flex;
    width: 100%;
    background-color: #EEDBBE;
    text-align: center;
    border-right: #5E8D66 10px solid;
    font-family: "Inter"- sans-serif;
    font-size: 2em;
    color: #9F684B;
}
.botonRegistrarse{
    position: absolute;
    height: 2em;
    width: 5em;
    align-self: center;
    margin-left: 1.5em;
    border-radius: 15px;
    background-color: #5E8D66;
    font-size: 1em;
    color: white;
}
.textoRegistro{
    text-align: center;
    align-self: center;
    padding-left: 8em;
    padding-right: 2em;
}
.iniciarSesion{
    width: 60%;
    justify-items:center;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    border-left: #EEDBBE 10px solid;
    background-color: #5E8D66;
    font-family: "Inter"- sans-serif;
    font-size: 2em;
    color: #EEDBBE;
}
.botonInicioSesion{
    height: 2em;
    width: 5em;
    border-radius: 15px;
    background-color: #3E4544;
    font-size: 1em;
    color: white;
}
.textoInicioSesion{
    text-align: center;
    align-self: center;
}